<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
          <h2 class="text-center">Setup game: <%= @game.name %></h2>
          <h5>Game goes to: <%= @game.starting_score %></h5>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3 class="text-center">Team 1: <%= @team1.name %></h3>
          <% if @team1.name? %>
            <%= @team1.name %>
          <% end %>
          <%= form_for @team1, url: game_teams_path(game_id: @game.id) do |f| %>
            <div class="field form-group">
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= f.submit :Submit, class: "btn btn-primary" %>
            </div>
          <% end %>
          <% if @game.team1_id != nil %>
              <% if @t1p1.id != nil %>
                  <h4>Player 1: <%= @t1p1.name %></h4>
                  <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team1_id, id: @t1p1.id), class: "btn btn-primary" %>
                  <% if @t1p2.id != nil %>
                      <h4>Player 2: <%= @t1p2.name %></h4>
                      <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team1_id, id: @t1p2.id), class: "btn btn-primary" %>
                      <% if @t1p3.id != nil %>
                          <h4>Player 3: <%= @t1p3.name %></h4>
                          <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team1_id, id: @t1p3.id), class: "btn btn-primary" %>
                          <% if @t1p4.id != nil %>
                              <h4>Player 4: <%= @t1p4.name %></h4>
                              <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team1_id, id: @t1p4.id), class: "btn btn-primary" %>
                              <% if @t1p5.id != nil %>
                                  <h4>Player 5: <%= @t1p5.name %></h4>
                                  <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team1_id, id: @t1p5.id), class: "btn btn-primary" %>
                              <% else %>
                                  <br/>
                                  <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team1_id), class: "btn btn-primary" %>
                              <% end %>
                          <% else %>
                              <br/>
                              <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team1_id), class: "btn btn-primary" %>
                          <% end %>
                      <% else %>
                          <br/>
                          <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team1_id), class: "btn btn-primary" %>
                      <% end %>
                  <% else %>
                      <br/>
                      <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team1_id), class: "btn btn-primary" %>
                  <% end %>
              <% else %>
                  <br/>
                  <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team1_id), class: "btn btn-primary" %>
              <% end %>
          <% end %>
      </div>
      <div class="col-sm-6">
          <h3 class="text-center">Team 2:</h3>
          <%= form_for @team2, url: game_teams_path(game_id: @game.id) do |f| %>
              <div class="field form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name %>
                  <%= f.submit :Submit, class: "btn btn-primary" %>
              </div>
          <% end %>
          <% if @game.team2_id != nil %>
           <% if @t2p1.id != nil %>
            <h4>Player 1: <%= @t2p1.name %></h4>
                  <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team2_id, id: @t2p1.id), class: "btn btn-primary" %>
                  <% if @t2p2.id != nil %>
                      <h4>Player 2: <%= @t2p2.name %></h4>
                      <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team2_id, id: @t2p2.id), class: "btn btn-primary" %>
                      <% if @t2p3.id != nil %>
                          <h4>Player 3: <%= @t2p3.name %></h4>
                          <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team2_id, id: @t2p3.id), class: "btn btn-primary" %>
                          <% if @t2p4.id != nil %>
                              <h4>Player 4: <%= @t2p4.name %></h4>
                              <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team2_id, id: @t2p4.id), class: "btn btn-primary" %>
                              <% if @t2p5.id != nil %>
                                  <h4>Player 5: <%= @t2p5.name %></h4>
                                  <%= link_to "Edit Player", edit_game_team_player_path(game_id: @game.id, team_id: @game.team2_id, id: @t2p5.id), class: "btn btn-primary" %>
                              <% else %>
                                  <br/>
                                  <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team2_id), class: "btn btn-primary" %>
                              <% end %>
                          <% else %>
                              <br/>
                              <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team2_id), class: "btn btn-primary" %>
                          <% end %>
                      <% else %>
                          <br/>
                          <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team2_id), class: "btn btn-primary" %>
                      <% end %>
                  <% else %>
                      <br/>
                      <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team2_id), class: "btn btn-primary" %>
                  <% end %>
              <% else %>
                  <br/>
                  <%= link_to "Add Player", new_game_team_player_path(game_id: @game.id, team_id: @game.team2_id), class: "btn btn-primary" %>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <div class="well">
          <%= link_to "Start Game", game_path(id: @game.id), class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>