<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">New Game</h2>
                <%= form_for @game do |f| %>
                    <div class="field form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name %>
                    </div>
                    <div class="field form-group">
                        <%= f.label :score %>
                        <%= f.number_field :starting_score %>
                    </div>
                    <div class="action form-group">
                        <%= f.submit :Submit, class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>