<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2 class="text-center">Game of <%= @game.starting_score %></h2>
                <br/>
                <%= link_to "Edit Players", game_editplayers_path(game_id: @game.id), class: "btn btn-primary" %>
                <h4>Players:</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Team 1:</h5>
                        <% @team1players.each_with_index do |player, index| %>
                            <% if index == @team1.current_shooter%>
                                <h5>Up next for team:</h5>
                            <% end %>
                            <div class="well">
                                <h6><%= player.name %></h6>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-sm-6">
                        <h5>Team 2:</h5>
                        <% @team2players.each_with_index do |player, index| %>
                            <% if index == @team2.current_shooter %>
                                <h5>Up next for team:</h5>
                            <% end %>
                            <div class="well">
                                <h6><%= player.name %></h6>
                            </div>
                        <% end %>
                    </div>
                </div>
                <% if !@game.playing %>
                    <!--If game is not being played-->
                    <!--Ask who starts the game-->
                    <!--Then swap game.playing to true-->
                    <%= form_for @game do |f| %>
                        <%= f.hidden_field :playing, :value => true %>
                        <%= f.label "Team 1 goes first?" %>
                        <%= f.check_box :team1_up %>
                        <%= f.submit :StartGame %>
                    <% end %>
                <% else %>
                    <h1>Team 1: <%= @team1.score %> ------- Score ------- Team 2: <%= @team2.score %></h1>
                    <% if @game.team1_up %>
                        <h4>Now shooting for Team 1: <%= @team1shooter.name %></h4>
                        <h4>Next shooter for Team 2: <%= @team2shooter.name %></h4>
                    <% else %>
                        <h4>Now shooting for Team 2: <%= @team2shooter.name %></h4>
                        <h4>Next shooter for Team 1: <%= @team1shooter.name %></h4>
                    <% end %>  
                    
                    <!--Take shot-->
                    <%= link_to "Take Shot", new_shot_path(game_id: @game.id), class: "btn btn-primary" %>
                    <!--remove-->
                    <%= @team1shooter.inspect %>
                <% end %>
            </div>
        </div>
    </div>
</div>